<!-- <div class="row">
    <div class="col-sm"> -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button class="d-block d-sm-none" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button> -->
        <a mat-button routerLink="/">Ananya Electrical Solutions</a>
        <div class="menu-spacer"></div>
        <!-- <div class="d-none  d-md-block matMenus"> -->
        <div>
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <button mat-button [matMenuTriggerFor]="menu">Services</button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/electrical-svc/elc-type">Electrical</a>
                <a mat-menu-item routerLink="/electrical-svc/solar">Solar</a>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- </div>
</div> -->
<!-- <mat-drawer-container class="example-container invisible" [hasBackdrop]="true">
    <mat-drawer #drawer mode="side">
        <mat-nav-list style="width: 100px;">
            <button mat-menu-item routerLink="/electrical-svc/elc-type" (click)="drawer.toggle()">Electrical</button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/electrical-svc/solar" (click)="drawer.toggle()">Solar</button>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="invisible">
        <div class="container invisible" style="height: 700px; width: 40px;">dssd</div>
    </mat-drawer-content>
</mat-drawer-container> -->