// :host {
//     position: fixed;
//     top: 0;
//     width: 100%;
// }
a:hover {
    color: black;
    text-decoration: none;
}

.matMenus {
    a:hover {
        color: blue !important;
        text-decoration: none;
    }
}

.invisible {
    visibility: hidden;
}

.menu-spacer {
    flex: 1 1 auto;
}