<section>
    <!-- <header> -->
    <app-header></app-header>
    <!-- </header> -->

    <router-outlet></router-outlet>
    <!-- </div> -->




    <div class="container pb-4">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem en molestiae quis, maiores explicabo inventore sit quos. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                <ul class="footer-social-menu list-inline">
                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6">
                <h3>Contact Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <ul class="footer-conatct-menu">
                    <li> <a href="mailto:ananyaelectricalsolutions@gmail.com"><i class="fa fa-envelope"></i>&nbsp;<span>Email
                :</span>ananyaelectricalsolutions@gmail.com</a> </li>
                    <li> <a href="tel:9743461955"><i class="fa fa-phone"></i> &nbsp;<span>Phone : </span> 9743461955</a> </li>
                    <li> <a href="http://maps.google.com/?q=59 Opp Bank Of India
                      G-Block Sahakarnagar Main Road Bangalore 560092" target="_blank"><i class="fa fa-map-o"></i>&nbsp;<span>Address
                :</span>59 Opp Bank Of India
              G-Block Sahakarnagar Main Road Bangalore 560092</a> </li>
                </ul>
            </div>

        </div>
    </div>



    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; www.ananyaelectricalsolutions.in</small>
        </div>
    </footer>
</section>