<!-- <section> -->
<!-- <header> -->
<app-header></app-header>
<!-- </header> -->

<router-outlet></router-outlet>
<!-- </div> -->

<div class="container pb-4">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <strong style="font-size: medium;">About Us</strong>
      <p>
        Ananya Electrical Solutions is one of Govt.of Karnataka licensed class 1
        Electrical contractor. provides a full range of turnkey solutions in
        Electrical works like HT & LT, Cabling, Electrical Inspected approval
        from Bescom for HT and Solar projects.
      </p>
      <p>
        The Power of Now is the energy of opportunities that comes to us
        disguised as challenges. The Power of Now at Ananya Electrical Solutions
        is the dynamic of making opportunities work as by meeting clients' tough
        specifications of cost competitiveness, quality, and reliability.
      </p>

      <p>
        We Pride ourselves on our reliability and highest quality workmanship
        which we back up with using experienced time served electricals.
      </p>
      <ul class="footer-social-menu list-inline">
        <li>
          <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="javascript:void(0)"><i class="fa fa-linkedin-square"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6">
      <strong style="font-size: medium;">Contact Us</strong>
      <ul class="footer-conatct-menu">
        <li>
          <a href="mailto:ananyaelectricalsolutions@gmail.com"
            ><i class="fa fa-envelope"></i>&nbsp;<span>Email :</span
            >ananyaelectricalsolutions@gmail.com</a
          >
        </li>
        <li>
          <a href="tel:9743461955"
            ><i class="fa fa-phone"></i> &nbsp;<span>Phone : </span>
            9743461955</a
          >
        </li>
        <li>
          <a
            href="http://maps.google.com/?q=59 Opp Bank Of India
                      G-Block Sahakarnagar Main Road Bangalore 560092"
            target="_blank"
            ><i class="fa fa-map-o"></i>&nbsp;<span>Address :</span>59, Opp Bank
            Of India, G-Block, Sahakarnagar Main Road, Bangalore-560092</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; www.ananyaelectricalsolutions.in</small>
  </div>
</footer>
<!-- </section> -->
